body {
    background: #dfdfdf;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(34, 34, 34)
}

.foto-principal{
    width: 200px; /* tamanho da imagem */
    border: 2px solid #ffffff; /* exatamente nessa ordem*/
    border-radius: 50%; /* deixando a bora redonda */
    margin: 30px;
    box-shadow: 0px 0px 10px rgb(26, 25, 25);
}

h1 {
    margin-bottom: 0;
    letter-spacing: -1px;
}

h2 {
    margin-top: 0;
    font-style: italic;
    color: rgb(73 73 73);
    font-weight: 100;
    letter-spacing: -1px;
}